footer.footer
  .footer__wrapper
    p.text__body.text__body-small(data-animation="chain") More info on the FOOTER soon
    
//-     .marquee__list
//-       .marquee__list__content
//-         a.title__h1(href=`/${lang}/#` data-animation="title") Got a Project?
//-         a.title__h1(href=`/${lang}/#` data-animation="title") Let's talk!
//-         a.title__h1(href=`/${lang}/#` data-animation="title") Got a Project?
//-         a.title__h1(href=`/${lang}/#` data-animation="title") Let's talk!
//-       .marquee__list__content.marquee__list__content__copy
//-         a.title__h1(href=`/${lang}/#` data-animation="title") Got a Project?
//-         a.title__h1(href=`/${lang}/#` data-animation="title") Let's talk!
//-         a.title__h1(href=`/${lang}/#` data-animation="title") Got a Project?
//-         a.title__h1(href=`/${lang}/#` data-animation="title") Let's talk!
