block variables
  - var altLangs = altLangs
  - var lang = lang
  - var parent_en = parent_en
  - var parent_pt = parent_pt

.navigation
  a.navigation__logo.was-shown(href=`/${lang}/` aria-label="OSITAKA")
    svg.navigation__logo-triangle(width="66" height="50" viewBox="0 0 66 50" xmlns="http://www.w3.org/2000/svg")
      path(d="m64.45,2.94c-.94-1.81-2.79-2.94-4.83-2.94H5.45C3.41,0,1.55,1.13.61,2.94c-.94,1.81-.79,3.98.38,5.65l27.08,38.4c1.03,1.47,2.66,2.31,4.45,2.31s3.42-.84,4.45-2.31l27.08-38.4c1.18-1.67,1.32-3.83.39-5.65m-2.21,4.35l-27.08,38.4c-.61.86-1.56,1.36-2.62,1.36s-2.01-.5-2.62-1.36L2.83,7.29c-.7-1-.79-2.24-.23-3.32.56-1.08,1.62-1.73,2.85-1.73h54.16c1.22,0,2.29.65,2.85,1.73.56,1.08.48,2.33-.23,3.32")
      path(d="m24.57,19.84c0,4.4,3.57,7.96,7.96,7.96s7.96-3.57,7.96-7.96-3.57-7.96-7.96-7.96c-4.4,0-7.96,3.57-7.96,7.96")

    .navigation__logo-lettering
      span
        svg(width="194" height="50" viewBox="0 0 194 50" xmlns="http://www.w3.org/2000/svg")
          path(d="m79.37,34.86c-4.9,0-8.88-3.98-8.88-8.88s3.98-8.88,8.88-8.88,8.88,3.98,8.88,8.88-3.98,8.88-8.88,8.88m0-12.14c-1.8,0-3.26,1.46-3.26,3.26s1.46,3.26,3.26,3.26,3.26-1.46,3.26-3.26-1.46-3.26-3.26-3.26")
      span
        svg(width="194" height="50" viewBox="0 0 194 50" xmlns="http://www.w3.org/2000/svg")
          path(d="m102.45,34.68h-9.15c-1.4,0-2.54-1.14-2.54-2.54s1.14-2.53,2.54-2.53h9.15c.35,0,.64-.29.64-.64,0-.25-.2-.45-.45-.45h-6.35c-3.05,0-5.52-2.48-5.52-5.52s2.56-5.71,5.71-5.71h9.15c1.4,0,2.54,1.13,2.54,2.53s-1.14,2.54-2.54,2.54h-9.15c-.35,0-.64.29-.64.64,0,.25.2.45.45.45h6.35c3.05,0,5.52,2.48,5.52,5.52s-2.56,5.71-5.71,5.71")
      span
        svg(width="194" height="50" viewBox="0 0 194 50" xmlns="http://www.w3.org/2000/svg")
          path(d="m114.14,34.68c-1.4,0-2.54-1.14-2.54-2.54v-12.33c0-1.4,1.14-2.53,2.54-2.53s2.53,1.14,2.53,2.53v12.33c0,1.4-1.13,2.54-2.53,2.54")
      span
        svg(width="194" height="50" viewBox="0 0 194 50" xmlns="http://www.w3.org/2000/svg")
          path(d="m134.41,17.29h-12.33c-1.4,0-2.54,1.14-2.54,2.54s1.14,2.53,2.54,2.53h2.99c.35,0,.64.29.64.64v9.15c0,1.4,1.13,2.54,2.54,2.54s2.53-1.14,2.53-2.54v-9.15c0-.35.29-.64.64-.64h2.99c1.4,0,2.53-1.14,2.53-2.53s-1.13-2.54-2.53-2.54")
      span
        svg(width="194" height="50" viewBox="0 0 194 50" xmlns="http://www.w3.org/2000/svg")
          path(d="m153.65,32.07c-.02-.25-.05-.5-.14-.74-.03-.11-.08-.22-.12-.33,0,0-6.16-12.33-6.16-12.33-.26-.48-.65-.88-1.13-1.13-1.22-.61-2.79-.09-3.4,1.13l-6.16,12.33c-.84,1.62.45,3.71,2.28,3.67,0,0,12.31,0,12.31,0,1.38.02,2.6-1.22,2.54-2.61m-10.61-3.58l1.92-3.85,1.93,3.85c.25.5-.11,1.09-.68,1.09h-2.49c-.56,0-.93-.59-.68-1.09")
      span
        svg(width="194" height="50" viewBox="0 0 194 50" xmlns="http://www.w3.org/2000/svg")
          path(d="m173.2,21.62c.5-.5.74-1.14.74-1.79,0-.65-.24-1.3-.74-1.79-.49-.5-1.14-.75-1.79-.75-.65,0-1.3.24-1.79.74l-3.95,3.94h0l-3,2.99c-.2.2-.43.25-.69.14-.26-.11-.4-.31-.4-.59v-4.68c0-1.4-1.13-2.53-2.53-2.53s-2.54,1.13-2.54,2.53v12.32c0,.67.28,1.32.74,1.8,0,0,0,0,0,0,.95.98,2.63.97,3.58,0l3.92-3.91c.24-.24.64-.25.89-.02.01,0,.02.02.03.03l3.91,3.89c.49.49,1.14.74,1.79.74s1.3-.25,1.8-.75c.99-.99.99-2.6,0-3.59l-3.92-3.91s0,0,0,0c-.14-.15-.17-.32-.17-.43s.03-.3.19-.45l3.95-3.94Z")
      span
        svg(width="194" height="50" viewBox="0 0 194 50" xmlns="http://www.w3.org/2000/svg")
          path(d="m193.78,32.07c-.02-.25-.05-.5-.14-.74-.03-.11-.08-.22-.12-.33,0,0-6.16-12.33-6.16-12.33-.26-.48-.65-.88-1.13-1.13-1.22-.61-2.79-.09-3.4,1.13l-6.16,12.33c-.84,1.62.45,3.71,2.28,3.67,0,0,12.31,0,12.31,0,1.38.02,2.6-1.22,2.54-2.61m-10.61-3.58l1.92-3.85,1.93,3.85c.25.5-.11,1.09-.68,1.09h-2.49c-.56,0-.93-.59-.68-1.09")

  .langs
    ul.langs__list
      li.langs__list__item
        a.langs__list__link(href="#" id=`${ lang === 'en' ? 'en' : 'pt'}` data-animation="link")
          span=lang

      each altLang in altLangs
        if ( altLang.lang === 'en-gb' )
          li.langs__list__item
            if (typeof(parent_en) == 'undefined')
              a.langs__list__link#en(href=`/en/${altLang.uid === 'home' ?  '' : altLang.uid + '/'}` data-animation="link") 
                span en
            else if (typeof(parent_en[0]) !== 'undefined')
              a.langs__list__link#en(href=`/en/${parent_en[0].uid}/${altLang.uid === 'home' ?  '' : altLang.uid}/` data-animation="link")
                span en

        if ( altLang.lang === 'pt-pt' )
          li.langs__list__item
            if (typeof(parent_pt) == 'undefined')
              a.langs__list__link#pt(href=`/pt/${altLang.uid === 'home' ?  '' : altLang.uid + '/'}` data-animation="link")
                span pt
            else if (typeof(parent_pt[0]) !== 'undefined')
              a.langs__list__link#pt(href=`/pt/${parent_pt[0].uid}/${altLang.uid === 'home' ?  '' : altLang.uid}/` data-animation="link")
                span pt

.menu__wrapper
  .menu
    .menu__content
      nav.menu__nav
        label.title__h5 menu
        if isDesktop
          //- OLD MENU
          //- a.menu__item.title__h1(href=Link(item.link))
          //-   span.menu__item-text=item.text
          div.menu--en
            a.menu__item.title__h1(href='/en/about' data-animation="link")
              span.menu__item-text About
            a.menu__item.title__h1(href='/en/projects' data-animation="link")
              span.menu__item-text Projects
            a.menu__item.title__h1(href='/en/archives' data-animation="link")
              span.menu__item-text Archives
            a.menu__item.title__h1(href='/en/contact' data-animation="link")
              span.menu__item-text Contact
          div.menu--pt
            a.menu__item.title__h1(href='/pt/sobre' data-animation="link")
              span.menu__item-text Sobre
            a.menu__item.title__h1(href='/pt/projetos' data-animation="link")
              span.menu__item-text Projetos
            a.menu__item.title__h1(href='/pt/arquivo' data-animation="link")
              span.menu__item-text Arquivo
            a.menu__item.title__h1(href='/pt/contacto' data-animation="link")
              span.menu__item-text Contacto
        else
          //- OLD MENU
          //- a.menu__item.title__h1(href=Link(item.link))
          //-   span.menu__item-text=item.text
          div.menu--en
            a.menu__item.title__h1(href='/en/about')
              span.menu__item-text About
            a.menu__item.title__h1(href='/en/projects')
              span.menu__item-text Projects
            a.menu__item.title__h1(href='/en/archives')
              span.menu__item-text Archives
            a.menu__item.title__h1(href='/en/contact')
              span.menu__item-text Contact
          div.menu--pt
            a.menu__item.title__h1(href='/pt/sobre')
              span.menu__item-text Sobre
            a.menu__item.title__h1(href='/pt/projetos')
              span.menu__item-text Projetos
            a.menu__item.title__h1(href='/pt/arquivo')
              span.menu__item-text Arquivo
            a.menu__item.title__h1(href='/pt/contacto')
              span.menu__item-text Contacto
        //- each item in navigation.data.list
        //-   if isDesktop
        //-     a.menu__item.title__h1(href=Link(item.link) data-animation="link")
        //-       span.menu__item-text=item.text
        //-   else
        //-     a.menu__item.title__h1(href=Link(item.link))
        //-       span.menu__item-text=item.text
      
      .menu__info
        .menu__follow
          label.title__h5 follow us on 
          a(href="https://www.behance.net/ositaka" target="_blank" data-animation="link") 
            span Behance
          a(href="https://www.instagram.com/ositaka.360/" target="_blank" data-animation="link") 
            span Instagram
          a(href="https://dribbble.com/ositaka" target="_blank" data-animation="link") 
            span Dribble

        .menu__contacts
          label.title__h5 get in touch 
          a(href="mailto:info@ositaka.com" data-animation="link") 
            span info@ositaka.com
          a(href="tel:+351919331899" data-animation="link") 
            span +351 919 331 899

//- From https://codepen.io/sebastien-gilbert/pen/VwLzvGV?editors=1010
//- Edit the paths here: https://yqnn.github.io/svg-path-editor/
svg.overlay(width='100%' height='100%' viewbox='0 0 100 100' preserveaspectratio='none')
  path.overlay__path(vector-effect='non-scaling-stroke' d='M 0 100 V 100 Q 50 100 100 100 V 100 z')

a.button-menu(onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu")
  svg(width="106" height="64" viewBox="0 0 106 64")
    path(class="line line1" d="m0,10.67h90s14.5-.18,14.53,37.71c.01,11.27-3.57,14.96-9.27,14.96-5.71,0-10.26-6.67-10.26-6.67L5,6.67")
    path(class="line line3" d="m0,52.67h90s14.5.18,14.53-37.71C104.54,3.69,100.97,0,95.26,0c-5.71,0-10.26,6.67-10.26,6.67L5,56.67")