block variables
  - var altLangs = altLangs
  - var lang = lang
  - var parent_en = parent_en
  - var parent_pt = parent_pt

.navigation
  a.navigation__logo.was-shown(href=`/${lang}/` aria-label="OSITAKA")
    svg.navigation__logo-triangle.is-on-preloader(width="24" height="24" wBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
      path(d="M12.6 12c0 1.8-1.5 3.3-3.3 3.3C7.5 15.3 6 13.8 6 12s1.5-3.3 3.3-3.3c1.8 0 3.3 1.5 3.3 3.3zM3.1.2C2.4.6 2 1.3 2 2v20c0 .8.4 1.4 1.1 1.8.7.3 1.5.3 2.1-.1l14.2-10c.5-.4.9-1 .9-1.6s-.3-1.3-.9-1.6L5.2.4C4.6-.1 3.8-.1 3.1.2z" fill="white")

    .navigation__logo-lettering
      span
        svg(width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M13.3 8.4C10.6 8.4 8.4 10.6 8.4 13.3C8.4 16 10.6 18.2 13.3 18.2C16 18.2 18.2 16 18.2 13.3C18.2 10.6 16 8.4 13.3 8.4ZM13.3 26.6C6 26.6 0 20.6 0 13.3C0 6 6 0 13.3 0C20.6 0 26.6 6 26.6 13.3C26.6 20.6 20.6 26.6 13.3 26.6Z" fill="white")
      span
        svg(width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M17.8999 26.3H4.1999C2.0999 26.3 0.399902 24.6 0.399902 22.5C0.399902 20.4 2.0999 18.7 4.1999 18.7H17.8999C18.3999 18.7 18.8999 18.3 18.8999 17.7C18.8999 17.3 18.5999 17 18.1999 17H8.6999C4.0999 17 0.399902 13.3 0.399902 8.69998C0.399902 3.99998 4.1999 0.0999756 8.9999 0.0999756H22.6999C24.7999 0.0999756 26.4999 1.79998 26.4999 3.89998C26.4999 5.99998 24.7999 7.69998 22.6999 7.69998H8.9999C8.4999 7.69998 7.9999 8.09997 7.9999 8.69998C7.9999 9.09998 8.2999 9.39997 8.6999 9.39997H18.1999C22.7999 9.39997 26.4999 13.1 26.4999 17.7C26.4999 22.5 22.5999 26.3 17.8999 26.3Z" fill="white")
      span
        svg(width="12" height="27" viewBox="0 0 12 27" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M4.4001 26.3C2.3001 26.3 0.600098 24.6 0.600098 22.5V4.09999C0.600098 1.99999 2.3001 0.299988 4.4001 0.299988C6.5001 0.299988 8.2001 1.99999 8.2001 4.09999V22.6C8.2001 24.6 6.5001 26.3 4.4001 26.3Z" fill="white")
      span
        svg(width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M22.8 0.299988H4.3C2.2 0.299988 0.5 1.99999 0.5 4.09999C0.5 6.19999 2.2 7.89999 4.3 7.89999H8.8C9.3 7.89999 9.8 8.29999 9.8 8.89999V22.6C9.8 24.7 11.5 26.4 13.6 26.4C15.7 26.4 17.4 24.7 17.4 22.6V8.79999C17.4 8.29999 17.8 7.79999 18.4 7.79999H22.9C25 7.79999 26.7 6.09999 26.7 3.99999C26.6 1.99999 24.9 0.299988 22.8 0.299988Z" fill="white")
      span
        svg(width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M10.8 17.1L13.7 11.3L16.6 17.1C17 17.9 16.4 18.7 15.6 18.7H11.9C10.9 18.7 10.4 17.8 10.8 17.1ZM26.7 22.4V22C26.7 21.9 26.7 21.8 26.6 21.7C26.6 21.6 26.5 21.5 26.5 21.4C26.5 21.3 26.4 21.1 26.4 21V20.9L17 2.40001V2.30001C16.9 2.20001 16.9 2.10001 16.8 1.90001C16.7 1.80001 16.7 1.70001 16.6 1.60001L16.3 1.30001L16 1.00001C15.9 0.900012 15.8 0.900012 15.7 0.800012C15.6 0.700012 15.5 0.600012 15.4 0.600012H15.3C15.2 0.600012 15.1 0.500012 15.1 0.500012C15 0.400012 14.9 0.400012 14.7 0.400012C14.6 0.400012 14.5 0.300012 14.4 0.300012C14.3 0.300012 14.2 0.200012 14 0.200012H13.2C13.1 0.200012 13 0.200012 12.9 0.300012C12.8 0.300012 12.6 0.300012 12.5 0.400012C12.4 0.400012 12.3 0.500012 12.1 0.500012C12 0.500012 11.9 0.600012 11.9 0.600012H11.8C11.7 0.700012 11.6 0.700012 11.4 0.800012C11.3 0.900012 11.2 0.900012 11.1 1.00001L10.8 1.30001L10.5 1.60001C10.4 1.70001 10.4 1.80001 10.3 1.90001C10.2 2.00001 10.1 2.10001 10.1 2.30001V2.40001L0.999954 20.8V20.9C0.899954 21 0.899956 21.2 0.899956 21.3C0.899956 21.4 0.799957 21.5 0.799957 21.6C0.799957 21.7 0.799951 21.8 0.699951 21.9V23C0.699951 23.1 0.699957 23.2 0.799957 23.3C0.799957 23.4 0.899956 23.5 0.899956 23.7C0.899956 23.8 0.999954 23.9 0.999954 24C1.09995 24.1 1.09995 24.2 1.19995 24.3C1.29995 24.4 1.29996 24.5 1.39996 24.6C1.49996 24.7 1.59995 24.8 1.59995 24.9L1.89996 25.2C1.99996 25.3 2.09995 25.4 2.19995 25.4C2.29995 25.5 2.39995 25.6 2.49995 25.6C2.59995 25.6 2.59995 25.7 2.69995 25.7H2.79996C2.99996 25.8 3.19996 25.8 3.39996 25.9C3.49996 25.9 3.49995 26 3.59995 26C3.79995 26.1 4.09996 26.1 4.29996 26.1H23C23.2 26.1 23.5 26.1 23.7 26C23.8 26 23.8 26 23.9 25.9C24.1 25.8 24.3 25.8 24.5 25.7H24.6C24.7 25.7 24.7 25.6 24.8 25.6C24.9 25.5 25 25.5 25.1 25.4C25.2 25.3 25.3 25.2 25.4 25.2L25.7 24.9C25.8 24.8 25.9 24.7 25.9 24.6C26 24.5 26 24.4 26.1 24.3C26.2 24.2 26.2 24.1 26.3 24C26.4 23.9 26.4 23.8 26.4 23.7C26.4 23.6 26.5 23.5 26.5 23.3C26.5 23.2 26.6 23.1 26.6 23V22.6V22.4C26.7 22.5 26.7 22.5 26.7 22.4Z" fill="white")
      span
        svg(width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M25.8999 6.79999C26.5999 6.09999 26.9999 5.09999 26.9999 4.09999C26.9999 3.09999 26.5999 2.19999 25.8999 1.39999C25.1999 0.699988 24.1999 0.299988 23.1999 0.299988C22.1999 0.299988 21.2999 0.699988 20.4999 1.39999L14.5999 7.29999L10.0999 11.8C9.79991 12.1 9.49991 12.2 9.09991 12C8.69991 11.8 8.49991 11.5 8.49991 11.1V4.09999C8.49991 1.99999 6.79991 0.299988 4.69991 0.299988C2.59991 0.299988 0.899902 1.99999 0.899902 4.09999V22.6C0.899902 22.8 0.899908 23.1 0.999908 23.3C0.999908 23.4 1.09991 23.5 1.09991 23.6C1.09991 23.7 1.19991 23.9 1.19991 24C1.19991 24.1 1.2999 24.2 1.3999 24.3C1.4999 24.4 1.49991 24.5 1.59991 24.6C1.69991 24.8 1.79991 24.9 1.99991 25.1L2.09991 25.2C2.29991 25.4 2.49991 25.5 2.69991 25.7C2.79991 25.8 2.89991 25.8 2.99991 25.9C3.09991 26 3.19991 26 3.29991 26.1C3.39991 26.2 3.59991 26.2 3.69991 26.2C3.79991 26.2 3.89991 26.3 3.99991 26.3C4.19991 26.3 4.49991 26.4 4.69991 26.4H4.79991C4.99991 26.4 5.29991 26.4 5.49991 26.3C5.59991 26.3 5.69991 26.2 5.79991 26.2C5.89991 26.2 6.09991 26.1 6.19991 26.1C6.29991 26.1 6.39991 26 6.49991 25.9C6.59991 25.8 6.69991 25.8 6.79991 25.7C6.99991 25.6 7.09991 25.5 7.29991 25.3L7.3999 25.2L13.2999 19.3C13.6999 18.9 14.2999 18.9 14.5999 19.3L20.4999 25.1C21.1999 25.8 22.1999 26.2 23.1999 26.2C24.1999 26.2 25.1999 25.8 25.8999 25.1C27.3999 23.6 27.3999 21.2 25.8999 19.7L19.9999 14C19.7999 13.8 19.6999 13.5 19.6999 13.4C19.6999 13.2 19.6999 13 19.9999 12.7L25.8999 6.79999Z" fill="white")
      span
        svg(width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M10.8 17.1L13.7 11.3L16.6 17.1C17 17.9 16.4 18.7 15.6 18.7H11.9C10.9 18.7 10.4 17.8 10.8 17.1ZM26.7 22.4V22C26.7 21.9 26.7 21.8 26.6 21.7C26.6 21.6 26.5 21.5 26.5 21.4C26.5 21.3 26.4 21.1 26.4 21V20.9L17 2.40001V2.30001C16.9 2.20001 16.9 2.10001 16.8 1.90001C16.7 1.80001 16.7 1.70001 16.6 1.60001L16.3 1.30001L16 1.00001C15.9 0.900012 15.8 0.900012 15.7 0.800012C15.6 0.700012 15.5 0.600012 15.4 0.600012H15.3C15.2 0.600012 15.1 0.500012 15.1 0.500012C15 0.400012 14.9 0.400012 14.7 0.400012C14.6 0.400012 14.5 0.300012 14.4 0.300012C14.3 0.300012 14.2 0.200012 14 0.200012H13.2C13.1 0.200012 13 0.200012 12.9 0.300012C12.8 0.300012 12.6 0.300012 12.5 0.400012C12.4 0.400012 12.3 0.500012 12.1 0.500012C12 0.500012 11.9 0.600012 11.9 0.600012H11.8C11.7 0.700012 11.6 0.700012 11.4 0.800012C11.3 0.900012 11.2 0.900012 11.1 1.00001L10.8 1.30001L10.5 1.60001C10.4 1.70001 10.4 1.80001 10.3 1.90001C10.2 2.00001 10.1 2.10001 10.1 2.30001V2.40001L0.999954 20.8V20.9C0.899954 21 0.899956 21.2 0.899956 21.3C0.899956 21.4 0.799957 21.5 0.799957 21.6C0.799957 21.7 0.799951 21.8 0.699951 21.9V23C0.699951 23.1 0.699957 23.2 0.799957 23.3C0.799957 23.4 0.899956 23.5 0.899956 23.7C0.899956 23.8 0.999954 23.9 0.999954 24C1.09995 24.1 1.09995 24.2 1.19995 24.3C1.29995 24.4 1.29996 24.5 1.39996 24.6C1.49996 24.7 1.59995 24.8 1.59995 24.9L1.89996 25.2C1.99996 25.3 2.09995 25.4 2.19995 25.4C2.29995 25.5 2.39995 25.6 2.49995 25.6C2.59995 25.6 2.59995 25.7 2.69995 25.7H2.79996C2.99996 25.8 3.19996 25.8 3.39996 25.9C3.49996 25.9 3.49995 26 3.59995 26C3.79995 26.1 4.09996 26.1 4.29996 26.1H23C23.2 26.1 23.5 26.1 23.7 26C23.8 26 23.8 26 23.9 25.9C24.1 25.8 24.3 25.8 24.5 25.7H24.6C24.7 25.7 24.7 25.6 24.8 25.6C24.9 25.5 25 25.5 25.1 25.4C25.2 25.3 25.3 25.2 25.4 25.2L25.7 24.9C25.8 24.8 25.9 24.7 25.9 24.6C26 24.5 26 24.4 26.1 24.3C26.2 24.2 26.2 24.1 26.3 24C26.4 23.9 26.4 23.8 26.4 23.7C26.4 23.6 26.5 23.5 26.5 23.3C26.5 23.2 26.6 23.1 26.6 23V22.6V22.4C26.7 22.5 26.7 22.5 26.7 22.4Z" fill="white")

  .langs
    ul.langs__list
      li.langs__list__item
        a.langs__list__link(href="#" id=`${ lang === 'en' ? 'en' : 'pt'}` data-animation="link")
          span=lang

      each altLang in altLangs
        if ( altLang.lang === 'en-gb' )
          li.langs__list__item
            if (typeof(parent_en) == 'undefined')
              a.langs__list__link#en(href=`/en/${altLang.uid === 'home' ?  '' : altLang.uid + '/'}` data-animation="link") 
                span en
            else if (typeof(parent_en[0]) !== 'undefined')
              a.langs__list__link#en(href=`/en/${parent_en[0].uid}/${altLang.uid === 'home' ?  '' : altLang.uid}/` data-animation="link")
                span en

        if ( altLang.lang === 'pt-pt' )
          li.langs__list__item
            if (typeof(parent_pt) == 'undefined')
              a.langs__list__link#pt(href=`/pt/${altLang.uid === 'home' ?  '' : altLang.uid + '/'}` data-animation="link")
                span pt
            else if (typeof(parent_pt[0]) !== 'undefined')
              a.langs__list__link#pt(href=`/´pt/${parent_pt[0].uid}/${altLang.uid === 'home' ?  '' : altLang.uid}/` data-animation="link")
                span pt

.menu__wrapper
  .menu
    .menu__content
      nav.menu__nav
        label.title__h5 menu
        each item in navigation.data.list
          if isDesktop
            a.menu__item.title__h1(href=Link(item.link) data-animation="link")
              span.menu__item-text=item.text
          else
            a.menu__item.title__h1(href=Link(item.link))
              span.menu__item-text=item.text
      
      .menu__info
        .menu__follow
          label.title__h5 follow us on 
          a(href="https://www.behance.net/ositaka" target="_blank" data-animation="link") 
            span Behance
          a(href="https://www.instagram.com/ositaka.360/" target="_blank" data-animation="link") 
            span Instagram
          a(href="https://dribbble.com/ositaka" target="_blank" data-animation="link") 
            span Dribble

        .menu__contacts
          label.title__h5 get in touch 
          a(href="mailto:info@ositaka.com" data-animation="link") 
            span info@ositaka.com
          a(href="tel:+351919331899" data-animation="link") 
            span +351 919 331 899

//- From https://codepen.io/sebastien-gilbert/pen/VwLzvGV?editors=1010
//- Edit the paths here: https://yqnn.github.io/svg-path-editor/
svg.overlay(width='100%' height='100%' viewbox='0 0 100 100' preserveaspectratio='none')
  path.overlay__path(vector-effect='non-scaling-stroke' d='M 0 100 V 100 Q 50 100 100 100 V 100 z')

a.button-menu(onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu")
  svg(width="100" height="100" viewBox="0 0 100 100")
    path(class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058")
    path(class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942")