extends ../base.pug

block variables
  - var template = 'about'

block content
  .about(background=`${colors.background || "white"}` color=`${colors.text || "black"}`)
    .about__wrapper

      section.about__hero
        h1.title__h1.about__hero__title(data-animation="title")!=about.data.hero_title

        figure.about__hero__media
          picture(height=`${about.data.image.dimensions.height}` width=`${about.data.image.dimensions.width}` style=`background-color: ${about.data.background_color_top_image}`)
            if (typeof(about.data.image.phone) !== 'undefined')
              source(media='(max-width: 768px)' srcset=`${connection === '4g' || connection === 'undefined' ? about.data.image.phone.url : about.data.image.phone.url.replace('?auto=compress,format', '?q=30&auto=compress,format')}`)
              source(media='(min-width: 769px)' srcset=`${connection === '4g' || connection === 'undefined' ? about.data.image.url.replace('?auto=compress,format', '') : about.data.image.url.replace('?auto=compress,format', '?q=30&w=1200&auto=compress,format')}`)
            img.about__hero__media__image(alt=about.data.image.alt data-src=about.data.image.url.replace('?auto=compress,format', '') height=`${about.data.image.dimensions.height}` width=`${about.data.image.dimensions.width}`)

      section.about__intro__text
        h2.title__h4.about__intro__text__title(data-animation="title")=about.data.about_intro[0].title
        .about__intro__text__copy
          .text__body-small!=PrismicDOM.RichText.asHtml(about.data.about_intro[0].text)

          p.text__body
            a.about__intro__text__button.text__body-small(href=`/${lang}/${about.data.about_intro[0].link.uid}/` data-animation="link")
              span=about.data.about_intro[0].button

      section.about__creators
        h2.title__h1.about__creators__title(data-animation="title")=about.data.team_title.replace(/\n/g, '<br>')

      each section in about.data.image_sections
        section.about__image__section
          figure.about__image__section__media
            picture(height=`${section.section_image.dimensions.height}` width=`${section.section_image.dimensions.width}` style=`background-color: ${section.background_color}`)
              if (typeof(section.section_image.phone) !== 'undefined')
                source(media='(max-width: 768px)' srcset=`${connection === '4g' || connection === 'undefined' ? section.section_image.phone.url : section.section_image.phone.url.replace('?auto=compress,format', '?q=30&auto=compress,format')}`)
                source(media='(min-width: 769px)' srcset=`${connection === '4g' || connection === 'undefined' ? section.section_image.url.replace('?auto=compress,format', '') : section.section_image.url.replace('?auto=compress,format', '?q=30&w=900&auto=compress,format')}`)
              img.about__image__section__media__image(alt=section.section_image.alt data-src=section.section_image.url.replace('?auto=compress,format', '') height=`${section.section_image.dimensions.height}` width=`${section.section_image.dimensions.width}`)
          .about__image__section__copy
            h1.title__h3(data-animation="title")=section.text

      section.about__awards
        h2.title__h1.about__awards__title(data-animation="title")!=awards[0].data.awards_title.replace(/\n/g, '<br>')
        .about__awards__list
          each award in awards[0].data.awards_list
            a.about__awards__list__item(href=`${award.award_link}` target="_blank" rel="noopener noreferrer")
              h2.about__awards__list__item__column(data-animation="chain")=award.award_title
              h3.about__awards__list__item__column(data-animation="title")=award.award_label
              h3.about__awards__list__item__column(data-animation="chain")=award.award_date
              h3.about__awards__list__item__column(data-animation="chain")=award.award_project_title

      section.start__project
        .start__project__wrapper
      //-     h2.title__h2(data-animation="chain") Have you a new project?
      //-     a.button__text(data-animation="link" href="/en/contact")
      //-       span Let us know everything


      include ../partials/footer
      