extends ../base.pug

block variables
  - var template = 'contacts'

block content
  .contacts(data-background="#fff" data-color="#000")
    .contacts__wrapper
      .contacts__header
        h1.title__h1.contacts__title(data-animation="title")!=contacts.data.title.replace(/\n/g, '<br>')

      section.contacts__form
        form(name='contact' id="contact" method='POST' action='/message-sent')
          input(type='hidden' name='form' value='contact')

          .contacts__form__services
            h2.title__h3(data-animation="title")=contacts.data.services_title
            ul.contacts__form__options.contacts__form__options__services
              each item in contacts.data.services_options
                li=item.option
                  input(type="checkbox" name="services" value=`${item.option}`)

          .contacts__form__budget
            h2.title__h3(data-animation="title")=contacts.data.budget_title
            ul.contacts__form__options.contacts__form__options__budget
              each item in contacts.data.budget_options
                li=item.option
                  input(type="checkbox" name="budget" value=`${item.option}`)

          .contacts__form__delivery
            h2.title__h3(data-animation="title")=contacts.data.delivery_title
            ul.contacts__form__options.contacts__form__options__delivery
              each item in contacts.data.delivery_options
                li=item.option
                  input(type="checkbox" name="delivery" value=`${item.option}`)

          .contacts__form__project
            h2.title__h3(data-animation="title")=contacts.data.project_title
            label
              span=contacts.data.form[0].name
              input.field#name(type='text' name='name' required)
            label
              span=contacts.data.form[0].company
              input.field#company(type='text' name='company')
            label
              span=contacts.data.form[0].email
              input.field#email(type='email' name='email' required)
            label
              span=contacts.data.form[0].phone
              input.field#phone(type='tel' name='phone' required)
            label
              span=contacts.data.form[0].message
              textarea.field#message(name='message' required rows='4')
          button.has-arrow(type='submit')
            div(data-animation="link")
              span=contacts.data.form[0].button
            include ../partials/arrow

      include ../partials/footer